#ui {
	width: 100vw;
	height: 100vh;
}

#app {
	width: 100%;
	height: 100%;
	display: grid;
	grid-template: 'header header' 40px
				    'sidebar main' 1fr /
					40px 1fr;
}

#header {
	grid-area: header;
	background-color: #000;
}

#sidebar {
	grid-area: sidebar;
	background-color: #000;
}

#main {
	grid-area: main;
}

