@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?ucqh4p');
  src:  url('fonts/icomoon.eot?ucqh4p#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?ucqh4p') format('truetype'),
    url('fonts/icomoon.woff?ucqh4p') format('woff'),
    url('fonts/icomoon.svg?ucqh4p#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-circle:before {
  content: "\e90c";
}
.icon-maximize:before {
  content: "\e900";
}
.icon-move:before {
  content: "\e901";
}
.icon-square:before {
  content: "\e90d";
}
.icon-zoom-in:before {
  content: "\e90e";
}
.icon-zoom-out:before {
  content: "\e90f";
}
.icon-layers:before {
  content: "\e902";
}
.icon-trash:before {
  content: "\e903";
}
.icon-bucket:before {
  content: "\e904";
}
.icon-colours:before {
  content: "\e905";
}
.icon-document:before {
  content: "\e910";
}
.icon-eraser:before {
  content: "\e906";
}
.icon-forward:before {
  content: "\e907";
}
.icon-hair-cross:before {
  content: "\e911";
}
.icon-help:before {
  content: "\e912";
}
.icon-image:before {
  content: "\e913";
}
.icon-palette:before {
  content: "\e908";
}
.icon-popup:before {
  content: "\e909";
}
.icon-reply:before {
  content: "\e90a";
}
.icon-round-brush:before {
  content: "\e90b";
}
